/* Desktop Approach first */
.project-section {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin-top: 20px;
  min-height: 180vh;
}

.portfolio-heading {
  text-align: center;
  position: relative;
}

.portfolio-heading::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: center;
  text-align: center;
  align-items: center;
  width: 130px;
  background: #7f6ce0;
  height: 1.6px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 25px;
  padding: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfolio-heading {
    font-size: 1.5rem;
  }

  .portfolio-heading::before {
    width: 100px;
  }
}