/* Mobile First Approach */

.about-section {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.about-section {
    text-align: center;
    padding-top: 60px;
    min-height: 100vh;
    position: relative;
}


.about-container {
    display: flex;
    flex-direction: column;
}

.btnResume {
    text-decoration: none;
}

.btnResume:hover {
    text-decoration: underline;
}

.btnGetInTouch,
.btnResume {
    padding: 10px 12px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: #6E57E0;
    color: white;
    cursor: pointer;
    margin-right: 6px;
    opacity: 1;
    transition: 0.2s ease-in;
}


.btnGetInTouch:active,
.btnResume:active {
    scale: 0.9;
}


.about-boxes {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 12px;
    gap: 25px;
}

.about-content .content {
    text-align: justify;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-content .role {
    padding-top: 12px;
    color: #7F6CE0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}


.heading {
    position: relative;
}


.heading::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: center;
    text-align: center;
    align-items: center;
    width: 110px;
    background: #7F6CE0;
    height: 1.6px;

}


@media screen and (min-width: 1024px) {

    .about-container {
        justify-content: center;
        align-items: center;
        padding: 35px;
        flex-direction: row;
        gap: 72px;

    }


    .about-content {
        width: 550px;
    }

    .about-content .content {
        line-height: 1.4;
    }


    .about-content .content {

        margin-bottom: 4px;
    }

    .about-boxes {
        margin-top: 0px;
        padding: 0px;
    }

    .about-content .role {
        font-size: 30px;
    }


    .btnGetInTouch:hover,
    .btnResume:hover {
        opacity: 0.8;
    }





}