.about-section {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.about-section {
    text-align: center;
    padding-top: 60px;
    height: 100vh;
}


.about-container {
    display: flex;
    flex-direction: column;

}

.btnGetInTouch {
    padding: 8px 16px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: #7F6CE0;
    color: white;
    cursor: pointer;
    margin-right: 6px;
    transition: 0.2s ease-in;
}


.btnResume {
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    border: 1.3px solid #7F6CE0;
    background: transparent;
    color: #7F6CE0;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;
    transition: 0.2s ease;
}

.btnGetInTouch:hover {
    opacity: 0.8;
}

.btnGetInTouch:active {
    opacity: 1.1;
}


.btnResume:hover {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: white;
}



.about-boxes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-content .content {
    text-align: justify;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-content .role {
    padding-top: 12px;
    color: #7F6CE0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
}





@media screen and (min-width: 1024px) {

    .about-container {
        justify-content: space-between;
        align-items: center;
        padding: 35px;
        flex-direction: row;
    }


    .about-content {
        width: 550px;
    }

    .about-content .content {
        line-height: 1.4;
    }


    .about-content .content {

        margin-bottom: 4px;
    }




}