.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 90px;
    height: 100vh;
}


.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons a img {
    width: 24px;
    transition: 0.2s ease;
}

.social-icons a img:hover {
    scale: 1.2;
}