* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}



.hero-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 120px;
    margin-left: 80px;
    height: 90vh;

}


.social-icons {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding-top: 90px;

    align-items: center;
    justify-content: center;
    padding-left: 50px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
    z-index: 99;
    height: 100vh;
}

.social-icons a img {
    width: 24px;
    transition: 0.2s ease;
}

.social-icons a img:hover {
    scale: 1.2;
}

.hello-text {
    font-size: 36px;
    font-weight: 600;
}

.name-animation {
    /* color: #F2F1F3; */
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
}

.content-container {
    position: relative;
    margin-top: 40px;
    line-height: 1.4;
}

.content-container .job-title {
    font-size: 27px;
    line-height: 25px;
    font-weight: 700;
    line-height: 2.5;

}

.briefing {
    width: 452px;
    font-weight: 300;
}

.btnContact button {
    position: relative;
    background: #6E57E0;
    padding: 15px 20px;
    border-radius: 9px;
    color: white;
    outline: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    z-index: 199;
    transition: 0.2s ease;
}

.btnContact img {
    width: 13px;
}

.btnContact button:hover {
    opacity: 0.8;
}


@media screen and (max-width:768px) {

    .hero-container {
        flex-direction: column-reverse;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    .social-icons {
        padding-left: 0px;
        margin-left: 20px;
        padding-top: 0;
        justify-content: unset;
        margin-top: 160px;
        height: 90vh;
    }

    .hello-text {

        font-size: 25px;
        height: 1.1;
    }

    .name-animation {
        font-size: 30px;
        height: 1.1;
    }

    .content-container {
        position: absolute;
        text-align: left;

        /* height: 1.1; */
        padding-top: 330px;
        /* background: red; */
        width: 330px;
    }


    .content-container .job-title {
        font-size: 30px;
        line-height: 1.9;
    }

    .briefing {
        width: fit-content;
    }

}