* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #191627; */
}

body {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    /* height: 1000vh; */
}

/* body.light {
    background: white;
} */


.logo {
    font-size: 20px;
    cursor: pointer;
    transition: 0.19s ease-out;
}

.logo:hover {
    color: #6E57E0;
    scale: 1.2;
}


.navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    /* color: white; */
    background-color: #191627;
    z-index: 100;
}

.navbar ul li {
    list-style: none;
}

.navbar .navlinks {
    position: absolute;
    display: none;
    background-color: #191627;
    height: 180px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    left: 8px;
}

.navbar .navlinks ul li a {
    color: white;
    text-decoration: none;
    transition: 0.12s ease;
}


.navbar ul {
    display: grid;
    font-size: 15.08px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 40px;
}

.navlinks ul li a i {
    font-size: 24px;
}

.navlinks ul li a:hover {
    /* color: linear-gradient(45deg, #6E57E0, #A88FE0); */
    color: #6E57E0;
}

.navbar ul li:hover i {
    fill: #6E57E0;
}

.icons {
    display: flex;

}

.display-mode {
    margin-right: 15px;
}

.icons i {
    font-size: 20px;
    cursor: pointer;
}

.icons .display-mode:hover i {
    fill: #6E57E0;
    color: #6E57E0;
    transition: 0.12s ease;
}

.icons .menu:hover i {
    fill: #6E57E0;
    color: #6E57E0;
    transition: 0.12s ease;
}


/* Show Menu when Active */
.navbar .navlinks.active {
    display: block;

}


@media screen and (min-width: 320px) {

    .navbar ul {
        font-size: 12px;
    }


}

@media screen and (min-width: 375px) {}